# app
ENV=development   # other options are: development , production , testing
LOG_LEVEL=DEBUG   # other options are: DEBUG , INFO , WARN , ERROR

# Huggingface API
# get your token from https://huggingface.co/settings/tokens
HUGGINGFACE_TOKEN=hf_xxxxxxxxxxxxxxxxxxxx

# private GitHub token
GITHUB_TOKEN=.

# python
PYTHONPATH=.  # this adds the current directory to the Python module search path

# LOCAL math library path
LIBPATH=.